extend base

block content
  main.main
    .form--reset
      h2.heading-secondary.ma-bt-lg Reset your password
      form.form.form--reset
        .form__group
          label.form__label(for='resetEmail') Enter your email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group(style='display:flex; flex-direction: column; align-items: center;')
          button.btn.btn--green#Reset(type='submit' style='margin-top: 10px;') Send Token